<div>

	<div>
		<div>
			<div>
				<form [formGroup]="formGroup" (ngSubmit)="buscarPractica()">
					<div>
						<h2>Buscar practicas</h2>
					</div>
					<div>
						<mat-form-field appearance="fill" style="width: 500px">
							<mat-label>Descripcion</mat-label>
							<input matInput formControlName="descripcion">
						</mat-form-field>
					</div>
					<div>
						<mat-form-field appearance="fill">
							<mat-label>Visible</mat-label>
							<mat-select formControlName="visible">
								<mat-option value="N">No</mat-option>
								<mat-option value="S">Si</mat-option>
							</mat-select>
						</mat-form-field>

					</div>
					<div>
						<mat-form-field appearance="fill">
							<mat-label>Pedible</mat-label>
							<mat-select formControlName="pedible">
								<mat-option value="N">No</mat-option>
								<mat-option value="S">Si</mat-option>
							</mat-select>
						</mat-form-field>

					</div>
					<div>
						<mat-form-field appearance="fill">
							<mat-label>Refina muestras</mat-label>
							<mat-select formControlName="refinaMuestras">
								<mat-option value="N">No</mat-option>
								<mat-option value="S">Si</mat-option>
							</mat-select>
						</mat-form-field>

					</div>
					<div>

						<button type="submit" mat-raised-button>Buscar</button>

						<button (click)="limpiarFiltro()" mat-raised-button>Limpiar filtros</button>
					</div>


				</form>

			</div>







			<hr>
			<div>
				<div>
					<h2>Practicas</h2>
				</div>
				<button mat-raised-button (click)="agregarPractica()">Agregar practica</button>

				<table mat-table [dataSource]="listaPracticas" class="mat-elevation-z8">
					<ng-container matColumnDef="idPractica">
						<th mat-header-cell *matHeaderCellDef> ID Practica </th>
						<td mat-cell *matCellDef="let practica"> {{practica.idPractica}} </td>
					</ng-container>

					<ng-container matColumnDef="descripcion">
						<th mat-header-cell *matHeaderCellDef> Descripcion </th>
						<td mat-cell *matCellDef="let practica"> {{practica.descripcion}} </td>
					</ng-container>

					<ng-container matColumnDef="visible">
						<th mat-header-cell *matHeaderCellDef> Visible </th>
						<td mat-cell *matCellDef="let practica"> {{practica.visible}} </td>
					</ng-container>

					<ng-container matColumnDef="pedible">
						<th mat-header-cell *matHeaderCellDef> Pedible </th>
						<td mat-cell *matCellDef="let practica"> {{practica.pedible}} </td>
					</ng-container>

					<ng-container matColumnDef="refinaMuestras">
						<th mat-header-cell *matHeaderCellDef> Refina muestras </th>
						<td mat-cell *matCellDef="let practica"> {{practica.refinaMuestras}} </td>
					</ng-container>

					<ng-container matColumnDef="acciones">
						<th mat-header-cell *matHeaderCellDef> Acciones </th>
						<td mat-cell *matCellDef="let practica">
							<button mat-raised-button (click)="editarPractica(practica)">Editar</button>
							<button mat-raised-button (click)="asignarArea(practica)">Areas</button>
							<button mat-raised-button (click)="borrarPractica(practica)">Borrar</button>
						</td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
				</table>
			</div>

		</div>